html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    position: absolute;
    background-image: url("image/fond1.png"), url("image/shapelined\ 2.png");
    /* width: 100%;
    height: 100%;  */
    /* background-size: cover;  */
    /* background-repeat: no-repeat; */
    /* background-color: #ebeaead4; */
    /* body{margin-top:20px;} */
    /* margin: auto;
    text-align: center; */

}

a { text-decoration: none !important; }

.testMenu{
    z-index: -10 !important;
}

/* .jumbotron{
    padding: 2rem 1rem;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;

} */
/* 
.figure{
    margin-bottom: 0px;
} */

.section{

}


.rubriqueTitrePosition{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

/*DEBUT NAVBAR
---------------------------
--------------------------*/
#myNav{
    z-index: 1000 !important;
}
.overlay{
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #b11c1c;
    overflow-y: hidden;
    transition: 1.0s;
}

.overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

.overlay a{
    padding: 10px;
    text-decoration: none;
    font-size: 40px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: black;
}

.overlay .closebtn{
    position: absolute;
    top: 10px;
    right: 35px;
    font-size: 70px;
}

.openBurger{
    position: fixed;
    margin-bottom: 0px;
    font-size: 40px;
    cursor: pointer;
}
/*FIN NAVBAR------------------------------------------------------------------*/


/*DEBUT PAGE ACCUEIL HERO
---------------------------
--------------------------*/
h1{
    margin: 0;
    margin-top: 100px !important;
    text-align: center;
    color: rgb(4, 4, 4);
    font-family: 'Coda', cursive;
    /* font-family: 'Squada One', cursive; */
    font-weight: 1200;
    font-size: 20px;
}

.accueilGeneral{
    height: 100vh;
}

.webDevEffect{
    margin-top: 10px;
    text-align: center;  
}

.social-box a img{
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}

.social-box a:hover img{
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.triangleOrange{
    position: relative;
    z-index: 1;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 150px solid #b11c1c;
    border-right : 87px solid transparent;
    border-left : 87px solid transparent;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

.li-social-links{
    list-style:none !important;
}


/* .triangleBlack {
    position: relative;
    z-index: 8;
    top: -180px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 70px solid #000000;
    border-right : 40px solid transparent;
    border-left : 40px solid transparent;
    margin-left: auto;
    margin-right: auto;
    animation: animationFrames linear 0.8s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 15s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 15s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 15s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
  } */

.logoElephant{
position: relative;
bottom: 50px;
}

.img arrow{
    box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
}

.heroTriangle{
    position: relative;
    bottom: 25px; 
}

.triangleBlack{
    
    /* top: -250px; */
    /* display : inline-block; */
    box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    animation: animationFrames linear 0.8s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 15s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 15s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 15s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
    /* concerne les animations sur differents navigateurs  */
}

.element-animation{
    animation: animationFrames linear 0.8s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 0.8s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 0.8s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 0.8s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

@keyframes animationFrames{
    0% {
        transform:  translate(0px,0px);
    }
    15% {
        transform:  translate(0px,-25px);
    }
    30% {
        transform:  translate(0px,0px);
    }
    45% {
        transform:  translate(0px,-15px);
    }
    60% {
        transform:  translate(0px,0px);
    }
    75% {
        transform:  translate(0px,-5px);
    }
    100% {
        transform:  translate(0px,0px);
    }
}

@-moz-keyframes animationFrames{
    0% {
        -moz-transform:  translate(0px,0px);
    }
    15% {
        -moz-transform:  translate(0px,-25px);
    }
    30% {
        -moz-transform:  translate(0px,0px);
    }
    45% {
        -moz-transform:  translate(0px,-15px);
    }
    60% {
        -moz-transform:  translate(0px,0px);
    }
    75% {
        -moz-transform:  translate(0px,-5px);
    }
    100% {
        -moz-transform:  translate(0px,0px);
    }
}

@-webkit-keyframes animationFrames{
    0% {
        -webkit-transform:  translate(0px,0px)  ;
    }
    15% {
        -webkit-transform:  translate(0px,-25px);
    }
    30% {
        -webkit-transform:  translate(0px,0px);
    }
    45% {
        -webkit-transform:  translate(0px,-15px);
    }
    60% {
        -webkit-transform:  translate(0px,0px);
    }
    75% {
        -webkit-transform:  translate(0px,-5px);
    }
    100% {
        -webkit-transform:  translate(0px,0px);
    }
}

@-o-keyframes animationFrames{
    0% {
        -o-transform:  translate(0px,0px);
    }
    15% {
        -o-transform:  translate(0px,-25px);
    }
    30% {
        -o-transform:  translate(0px,0px);
    }
    45% {
        -o-transform:  translate(0px,-15px);
    }
    60% {
        -o-transform:  translate(0px,0px);
    }
    75% {
        -o-transform:  translate(0px,-5px);
    }
    100% {
        -o-transform:  translate(0px,0px);
    }
}

@-ms-keyframes animationFrames{
    0% {
        -ms-transform:  translate(0px,0px);
    }
    15% {
        -ms-transform:  translate(0px,-25px);
    }
    30% {
        -ms-transform:  translate(0px,0px);
    }
    45% {
        -ms-transform:  translate(0px,-15px);
    }
    60% {
        -ms-transform:  translate(0px,0px);
    }
    75% {
        -ms-transform:  translate(0px,-5px);
    }
    100% {
        -ms-transform:  translate(0px,0px);
    }
}
/*PAGE ACCUEIL HERO------------------------------------------------------------------*/


/*DEBUT PAGE ABOUT/PROFIL
---------------------------
--------------------------*/
.profile{
    /* height: 100vh; */
    width: 100%;
    /* background-color: #454545e0; */
    /* background-image: url("image/triangleOrange.png");
    background-repeat: no-repeat; */
    background: top / contain no-repeat url("image/Method Draw Image.png");
    background-size: 15%;
    background-color: #e8e8e8;
    /* background-color:#dcdcdc */
    margin-bottom: 200px;
}

.triangleProfile{
    position: relative;
    top: 100px; 
    /* margin-top: 50px; */
}

.profile h2{
    color: #000000e0;
    margin-bottom: 123px;
    font-family: 'Coda';
    font-size: 65px;
    /* font-weight: 550; */
}
/* .triangleOrange .about{
    position: ;
 z-index: -1;
} */

.section-title h2{
    font-weight: 700;
    /* color: #20247b; */
    color: #0f0f10;
    font-size: 25px;
    margin: 0 0 15px;
    border-left: 5px solid #fc5356;
    padding-left: 15px;
}
.section-title{
    padding-bottom: 45px;
    margin-top: 85px;

}
.section-title p {
    margin: 0;
    font-size: 18px;
}
/*FIN PAGE ABOUT/PROFILE------------------------------------------------------------------*/


/*DEBUT PAGE SKILLS
---------------------------
--------------------------*/
.skills{
    /* height: 100vh; */
    height: 1200px;
    text-align:Center;
    background: top / contain no-repeat url("image/Method Draw Image.png");
    background-size: 15%;
    background-color: #e8e8e8;
}
.skills h2{
    color: #000000e0;
    margin-bottom: 123px;
    font-family: 'Coda';
    margin-bottom: 32px;
    /* font-weight: 600; */
    font-size: 65px;
}

.competence span{
    color: #fc5356;
    /* font-size: 20px; */
}

.triangleSkills{
    margin-top: 50px;
}

.competence-space{
    height: 100%;
}
/*FIN PAGE SKILLS----------------------------------------------------------------------------*/


/*DEBUT PAGE FORMATION/EXPERIENCE
------------------------------------------------------------------
------------------------------------------------------------------*/
.jumbotronFormation h2, .jumbotronExperience h2, .jumbotronCV h2, .project h2, .donwload h2{
    font-size: 65px; 
    /* PERTURBE LE RESPONSIVE */
    /* margin-bottom: 633px; */
}

#experience, #training, #CV{
    /* height: 100vh; */
    text-align: center;
    background: top / contain no-repeat url("image/Method Draw Image.png");
    background-size: 15%;
    /* z-index: 1; */
    /* background-color: #e8e8e8; */
    /* margin-top: 106px; */
    /* margin-top: 620px; */
 
}
.experience .project1 .contact1 h2{
    color: #000000e0;
    margin-bottom: 123px;
    font-family: 'Coda';
    font-size: 65px;
    /* margin-bottom: 732px; */
}

.triangleBlack .expe {
    position: relative;
    top: 150px; 
}
.resume-box span{
}

.triangleExperience {
    margin-top: 60px;
}

.triangleFormation {
    margin-top: -133px;}

/* Resume Box
---------------------*/
.resume-box {
    /* background: #ffffff; */
    /* box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08); */
    border-radius: 10px;
}
.resume-box ul {
    margin: 0;
    padding: 30px 20px;
    list-style: none;
}
.resume-box li {
    position: relative;
    padding: 0 20px 0 60px;
    margin: 0 0 30px;
}
.resume-box li:last-child {
    margin-bottom: 0;
}
.resume-box li:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 20px;
    border-left: 1px dashed #b11c1c;
    bottom: 0;
}
.resume-box .icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    color: #b11c1c;
    /* color: #b11c1c; */
    line-height: 40px;
    background: #ffffff;
    text-align: center;
    z-index: 1;
    border: 1px dashed;
    border-radius: 50%;
}
.resume-box .time {
    background: black;
    color: #ffffff;
    font-size: 10px;
    padding: 2px 10px;
    display: inline-block;
    margin-bottom: 12px;
    border-radius: 20px;
    font-weight: 600;
}
.resume-box h5 {
    font-weight: 700;
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
}
.resume-box p {
    margin: 0;
}

.resume-box li:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 20px;
    border-left: 1px dashed #b11c1c;
    bottom: 0;
}
.resume-box p{
    font-size: 15px;
}

.resume-box-experience{
    height: 641px;
}

.section {
    padding: 100px 0;
    position: relative;
}
/* .gray-bg {
    background-color: #f5f5f5;
} */
/*FIN PAGE FORMATION/EXPERIENCE------------------------------------------------------------------*/


/*DEBUT DEBUT PAGE PROJECT
---------------------------
--------------------------*/
.project {
    height: 100vh;
    width: 100%;
    background: top / contain no-repeat url("image/Method Draw Image.png");
    background-size: 15%;
    background-color: #e8e8e8;
    /* margin-bottom: 200px; */
}
.triangleProject{
    margin-top: 50px;
}

.cardPorject {
    font-weight: 700;
    /* color: #20247b; */
    color: #0f0f10;
    font-size: 25px;
    margin: 0 0 15px;
    border-left: 5px solid #fc5356;
    padding-left: 15px;
}

.card{
    width: 18rem;
}
/*FIN PAGE PAGE PROJECT------------------------------------------------------------------*/


/*DEBUT DEBUT PAGE CV DOWNLOAD
----------------------------------
---------------------------------*/
.donwload {
    height: 100vh;
    width: 100%;
    background: top / contain no-repeat url("image/Method Draw Image.png");
    background-size: 15%;
   /* background-color: #e8e8e8; */
}
.triangleCV{
    margin-top: 150px;
}
/*FIN PAGE CV DOWNLOAD------------------------------------------------------------------*/


/*DEBUT DEBUT PAGE CONTACT
-----------------------------
----------------------------*/
.contact {
    /* height: 100vh; */
    /* width: 100%; */
    /* background-color: #454545e0; */
    /* background-image: url("image/triangleOrange.png");
    background-repeat: no-repeat; */
    background: top / contain no-repeat url("image/Method Draw Image.png");
    background-size: 15%;
    background-color: #e8e8e8;
    /* background-color:#dcdcdc */
}
.contact h2 {
    font-size: 65px;

}
.contact h3, form, #CV p {
    font-family: 'Coda';
}

#missPrenom {
  margin-bottom: 23px;
}

/* input:invalid {
    border: 2px dashed red;
}
  
  input:valid {
    border: 1px solid black;
  } */

/* .triangleContact{
    margin-top: 130px;
} */
/*FIN PAGE CONTACT------------------------------------------------------------------*/


/*DEBUT PAGE FOOTER
-----------------------
----------------------*/
.text-center-copyright{
    background-color: #b11c1c;
}
/*FIN PAGE FOOTER------------------------------------------------------------------*/


/*DEBUT MEDIA QUERIES
---------------------------------------------
--------------------------------------------*/

@media screen and (max-width: 1024px){
    h1{
        /* font-size: 0px; */
        /* background-color:#454545e0; */
        color:  #040404;
        background-image: url("image/geoBgdt.png");
        width: auto;
        margin-top: 45px;
        /* margin-bottom: 70px; */
    }
    .logoElephant{
        display: none;
    }
    .heroTriangle{
        position :relative;
        top: 45px;
    }
    .hero{
        margin-top: 26px;;
    }
    .accueilGeneral{
        /* height: 100vh; */
        /* height: 100%; */
    }
    /* .about{
        height: 100vh;
    } */
    .profile, .skills, .experience, .project, .contact1{
        height: 100%;
    }
    .triangleProfile, .triangleSkills, .triangleExperience, .triangleFormation, .triangleProject, .triangleCV, .triangleContact{
        display: none;
    }
}
/*FIN MEDIA QUERIES------------------------------------------------------------------*/
